<!DOCTYPE html>
<html>

  <head>
    <title>Speed Insights</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="vue-2.5.16.min.js"></script>
  </head>

  <body class="container">
    <div id="app">

      URL:
      <input v-model="url">
      <label><input type="radio" v-model="strategy" value="mobile"> Mobile</label>
      <label><input type="radio" v-model="strategy" value="desktop"> Desktop</label>
      <button @click="run" :disabled="loading">Run</button>
      <span>{{ status }}</span>

      <h1>Speed Insights</h1>

      <div v-if="result">

        <h2>Summary</h2>

        <h3>Timings (simulated)</h3>
        <div v-for="timing in simulatedTimings">
          {{ timing.time }} ({{ timing.key }})
        </div>

        <h3>Timings (observed)</h3>
        <div v-for="timing in observedTimings">
          <span v-if="timing.key">{{ timing.time }} ({{ timing.key }})</span>
          <span v-else><img :src="timing.img"></span>
        </div>

        <h2>Raw Results</h2>

        <h3>Diagnostics</h3>
        <pre>{{ result.audits.diagnostics.details.items[0] }}</pre>

        <h3>Metrics</h3>
        <pre>{{ result.audits.metrics.details.items[0] }}</pre>

        <h3>Bootup time</h3>
        <pre>{{ result.audits["bootup-time"].details.items }}</pre>

        <h3>Critical Request chains</h3>
        <pre>{{ result.audits["critical-request-chains"].details.chains }}</pre>

        <h3>DOM Size</h3>
        <pre>{{ result.audits["dom-size"].details.items }}</pre>

        <h3>Largest Contentful Element</h3>
        <pre>{{ result.audits["largest-contentful-paint-element"].details.items[0] }}</pre>

        <h3>Layout Shift Elements</h3>
        <pre>{{ result.audits["layout-shift-elements"].details.items }}</pre>

        <h3>Long Tasks</h3>
        <pre v-if="result.audits['long-tasks'].scoreDisplayMode == 'notApplicable'">N/A</pre>
        <pre v-else>{{ result.audits["long-tasks"] }}</pre>

        <h3>Main-thread Tasks</h3>
        <pre>{{ result.audits["main-thread-tasks"].details.items }}</pre>

        <h3>Main-thread Work Breakdown</h3>
        <pre>{{ result.audits["mainthread-work-breakdown"].details.items }}</pre>

        <h3>Network Requests</h3>
        <pre>{{ result.audits["network-requests"].details.items }}</pre>

        <h3>Render-blocking Resources</h3>
        <pre>{{ result.audits["render-blocking-resources"].details.items }}</pre>

        <h3>Thumbnails</h3>
        <span v-for="item in result.audits['screenshot-thumbnails'].details.items">
          {{ item.timing }}
          <img :src="item.data" />
        </span>

      </div>
    </div>

    <script src="main.js"></script>
  </body>

</html>
